html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #22293d;
/*    background: #283446;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient(#36455b, #283446);
    background: -moz-linear-gradient(#36455b, #283446);
    background: -ms-linear-gradient(#36455b, #283446);
    background: -o-linear-gradient(#36455b, #283446);
    background: linear-gradient(#36455b, #283446);*/
}

#linechart {
	display: inline-block;
	width: 90%;
}

#linechart canvas {
	margin-top: 20px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    background-color: #22293d;
}

b {
	font-size: 120%;
}

#container {
	text-align: center;
	margin: 0 auto;
}

#map {
	border-radius: 15px;
	display: inline-block;
	height: 500px;
	width: 90%;
	background: black;
}

.precip-popup {
	text-align: center;
}

#buttons {
	display: inline-block;
}

#buttons button {
	outline: none;
	padding: 10px;
	font-size: 100%;
	margin: 1px;
	background: rgba(80,80,80,1);
	color: rgba(200,200,200,1);
	float: left;
	cursor: pointer;
	background: #283446; /* Fallback */
	background: linear-gradient(#36455b, #283446);
	color: rgba(220,220,220,0.75);
	border: 1px solid rgba(20,20,20,0.5);
}

#buttons button:hover {
	box-shadow: 0px 0px 5px rgba(80,180,255,0.6);
	border: 1px solid rgba(20,20,20,0.8);
	background: linear-gradient(#36455b, #283446);
	color: rgba(220,220,220,0.9);
}

#buttons button:active {
	color: #FFFFFF;
	box-shadow: 0px 0px 5px rgba(80,180,255,1);
	border: 1px solid rgba(20,20,20,1);
}